<h1>{{ nombre }}</h1>
<p>{{ apellido }}</p>
<b>{{ edad }}</b>
<b>{{ mail }}</b>
<hr />
<i><b> Telefono: {{ telefono }}</b></i>

{{!-- Este bloque parcial de cógio lo podemos incorporar en nuestro layout (index.hbs) --}}